/* styles.css */
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

#screensaver-canvas {
    display: block;
    width: 100%;
    height: 100%;
}